@font-face {
	font-family: minecraftia;
	src: url( '../style/minecraftia.ttf' );
}

html,body{
margin: 0px;
font-family:SilkscreenNormal;
}

h1,h2,h3,h4,h5,h6 {
	color: white;
}
.panel {
	background: rgb(215,115,0);
	width: auto;
	padding: 3px;
	border-bottom: 20px solid rgb(249,197,36);
	box-shadow: 0 5px 10px #aaa;
}

.wrapper{
	width: auto;
	 max-width: 1026px;
	 margin: 0 auto;
	 word-wrap: break-word;
}

a{
	color: white;
	text-decoration: none;
}




.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

 a.btn {
background: transparent url(../resource_packs/default/textures/gui/button.png) repeat-x scroll top left;
display: block;
font-size: 16px;
height: 16px;
text-decoration: none;
z-index: 9;
text-shadow: 2px 2px 0 #383838;
border: 3px solid #000;
line-height: 14px;
box-shadow: -2px -4px 0 rgba(0,0,0,0.2) inset,2px 2px 0 rgba(255,255,255,0.5) inset;
padding: 10px 20px;
cursor: pointer;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none
user-select: none; /* Standard */
 }

a.btn:hover {
background: transparent url(../resource_packs/default/textures/gui/button.png) repeat-x;
background-position: bottom left;
color: #9cffdc;
outline: none;
text-decoration: none;
}


/* Worlds Menu */

div.worlds {

    display: flex;
    /*align-items: center;*/
    padding-top: 100px;
    justify-content: center;
    height: 100%;
    background: rgba( 0, 0, 0, 0.5 );

}

div.menu {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    height: 100%;
    background: rgba( 0, 0, 0, 0.5 );
}


.world-file {
  margin: auto;
  width: 60%;
  padding: 10px;
  height: 70px;
}

.world-file img {
	width: 76px;
	margin-top: -4px;
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

.world-file p {
	float: right;
	margin-right: 75%;
	margin-top: -8px;
	font-size: 15px
}

p.date {
	color: gray;
	float: right;
	margin-right: 75%;
	margin-top: -60px;
	font-size: 15px
	text-shadow: none;
}















